.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
  
.task:hover {
    transform: scale(1.02);
}
  
.check-icon {
    font-size: 1.2rem;
    color: #757e76; /* Green for checked tasks */
    cursor: pointer;
}
.check-icon--active {
    color: #4caf50;
}
.task-text {
    flex: 1;
    margin: 0 10px;
    font-size: 1rem;
    color: #333;
}
  
.delete-icon {
    font-size: 1.2rem;
    color: #f44336; /* Red for delete button */
    cursor: pointer;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}